* {
    font-size: 9px;
    font-family: 'Times New Roman';
}

td,
th,
tr,
table {
    border-top: 1px solid black;
    border-collapse: collapse;
}

td.description,
th.description {
    width: 75px;
    max-width: 75px;
    /* text-align: center; */
}

td.quantity,
th.quantity {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
    text-align: center;
}

td.price,
th.price {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
    text-align: center;
}

.centered {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 215px;
    max-width: 215px;
}

img {
    max-width: inherit;
    width: inherit;
}

.row{
    display: flex;
}
.col-md-6{
    margin: 4px;
}

@media print {
    .hidden-print,
    .hidden-print * {
        display: none !important;
    }
}